{% extends "notes/index.html" %}
{% load static %}
{% block notes %}
{% for note in notes %}
<div class="card">
    <h3 class="card-title">{{ note.title }}</h3>
    <div class="card-content">
        <p>{{ note.content }}</p>
    </div>


    <form method="POST" action="update/{{note.id}}">
        {% csrf_token %}
        <div class="form-popup" id="{{ note.id }}">
            <input class="popup-title" type="text" name="title" value="{{ note.title }}" maxlength="15" required>
            <input class="popup-detail" type="text" name="content" value="{{ note.content }}" maxlength="30" required>
            <button class="update-btn2" type="submit">Atualizar</button>
            <button class="cancel-btn" onclick="closeForm({{ note.id }})" type="button">Cancelar</button>
        </div>
    </form>

    <div class="btns">
        <button class="update-btn1" onclick="openForm({{ note.id }})">Atualizar</button>
        <form method="POST" id="delete-form" action="delete/{{note.id}}">
            {% csrf_token %}
            <input type="hidden" name="method" value="DELETE">
            <input type="hidden" name="id" value="{{ note.id }}">
            <button class="delete-btn" type="submit">Deletar</button>
        </form>
    </div>

</div>
{% endfor %}
{% endblock %}